<div class="ui-g">
    <div class="ui-g-6">
        <div class="title">
            Sign in
        </div>
        <div class="">
            <div class="">
                <label for="email">Email</label>
                <div class="">
                    <input [(ngModel)]="user.Email" id="email" type="email" >
                </div>
            </div>

            <div class="">
                 <label for="password">Password</label>
                <div class="">
                    <input [(ngModel)]="user.Password" id="password" type="password" >
                </div>
            </div>
            <span>{{errorMsg}}</span>
            <button (click)="login()" class="btn waves-effect waves-light" type="submit" name="action">Login</button>
        </div>
    </div>

    <div class="ui-g-6">
        <div class="title">
            Register
        </div>
        <div class="">
            <div class="">
                <label for="email">Email</label>
                <div class="">
                    
                    <input [(ngModel)]="model.Email" id="email" type="email" >
                </div>
            </div>

            <div class="">
                <label for="name">Name</label>
                <div class="">
                    
                    <input [(ngModel)]="model.Name" id="name" type="name">
                </div>
            </div>

            <div class="">
                <label for="password">Password</label>
                <div class="">
                    <input [(ngModel)]="model.Password" id="password" type="password">
                </div>
                <div class="help-block">Please enter a password with at least six characters.</div>
            </div>

            <div class="">
                <label for="confirmPassword">Confirm password</label>
                <div class="">
                    <input type="password" id="confirmPassword" >
                </div>
            </div>
            <span>{{errorMsgRes}}</span>
            <button (click)="register()" class="btn waves-effect waves-light" type="submit" name="action">Register</button>
        </div>
    </div>
</div>