# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/FrontEnd/dist
/FrontEnd/tmp

# dependencies
/FrontEnd/node_modules
/FrontEnd/bower_components
/BackEnd/packages

# IDEs and editors
/FrontEnd/.idea
/FrontEnd/.vscode
/FrontEnd.project
/FrontEnd.classpath
/FrontEnd.c9/
/FrontEnd*.launch
/FrontEnd.settings/

# misc
/FrontEnd/.sass-cache
/FrontEnd/connect.lock
/FrontEnd/coverage/*
/FrontEnd/libpeerconnection.log
/FrontEndnpm-debug.log
/FrontEndtestem.log
/FrontEnd/typings

# e2e
/FrontEnd/e2e/*.js
/FrontEnd/e2e/*.map

#System Files
.DS_Store
Thumbs.db
