<div class="container">
  <h1>User form</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="Email">Email<span style="color: red"> *</span></label>
      <input type="text" class="form-control" id="email" required  [(ngModel)]="model.Email" name="email" #email="ngModel">
      <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
        email is required!
      </div>
    </div>
    <div class="form-group">
      <label for="Password">Password<span style="color: red"> *</span></label>
      <input type="text" class="form-control" id="password" required minlength="4" maxlength="24" [(ngModel)]="model.Password"
        name="password" #password="ngModel">
      <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          Password is required
        </div>
        <div [hidden]="!password.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div [hidden]="!password.errors.maxlength">
          Password cannot be more than 24 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="Name">Name<span style="color: red"> *</span></label>
      <input type="text" id="name" class="form-control" required [(ngModel)]="model.Name" name="name" #name="ngModel">
      <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
        Name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address<span style="color: red"> *</span></label>
      <input type="text" id="address" class="form-control" required [(ngModel)]="model.Address" name="address" #address="ngModel">
      <div class="alert alert-danger" [hidden]="address.valid || address.pristine">
        Address is required!
      </div>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date Of Birth<span style="color: red"> *</span></label>
      <input type="date" id="dateOfBirth" class="form-control" required [(ngModel)]="model.DateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel">
      <div class="alert alert-danger" [hidden]="dateOfBirth.valid || dateOfBirth.pristine">
        Date Of Birth is required!
      </div>
    </div>
    <div class="form-group">
      <label for="visaCode">Visa Code</label>
      <input type="text" name="visaCode" id="visaCode" class="form-control" [(ngModel)]="model.VisaCode" name="visaCode" #visaCode="ngModel">

    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" required [(ngModel)]="model.Phone" name="phone" #phone="ngModel">
      <div class="alert alert-danger" [hidden]="phone.valid || phone.pristine">
        Phone Number is required!
      </div>
    </div>
    <div class="form-group">
      <label for="roleID">Role ID</label>
      <p-dropdown [options]="roleIDs" [(ngModel)]="model.RoleID" [ngModelOptions]="{standalone: true}"></p-dropdown>
    </div>

    <div>
      <div class="ui-g-6" align="center"><button class="btn btn-success btn-s" type="submit" [disabled]="!heroForm.form.valid">Submit</button></div>
      <div class="ui-g-6" align="center"><button class="btn btn-warning btn-s" type="button" (click)="back()">Back</button></div>
    </div>
  </form>
 
</div>