
  
  <div class="container">
    <h1>Book</h1>
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.Name" name="name" #name="ngModel">
        <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" [(ngModel)]="model.Author" name="author">
      </div>
      <div class="form-group">
        <label for="rate">Rates</label>
        <select name="rate" id="rate" class="form-control" required [(ngModel)]="model.Rate" name="rate">
        <option *ngFor="let rate of rates" [value]="rate">{{rate}}</option>
      </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="model.Description" name="description">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="model.Quantity" name="quantity">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="model.Price" name="price">
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" [(ngModel)]="model.Status" name="status">
      </div>
      <div class="form-group">
        <label for="imageUrl">imageUrl</label>
        <input type="text" class="form-control" id="imageUrl" [(ngModel)]="model.ImageUrl" name="imageUrl">
      </div>   
      <div class="form-group">
        <input type="file" value="Chọn Ảnh">
      </div>
      <div class="form-group">
        <label for="publishDate">Publish Date</label>
        <input type="text" class="form-control" id="publishDate" [(ngModel)]="model.PublishDate" name="publishDate">
      </div>
      <div class="form-group">
        <label for="saleOff">Sale Off</label>
        <input type="text" class="form-control" id="saleOff" [(ngModel)]="model.SaleOff" name="saleOff">
      </div>
      <div class="form-group">
        <label for="saleOff">Sale Off</label>
        <input type="text" class="form-control" id="saleOff" [(ngModel)]="model.SaleOff" name="saleOff">
      </div>
      <div class="form-group">
        <label for="dateCreate">Date Create</label>
        <input type="text" class="form-control" id="dateCreate" [(ngModel)]="model.DateCreate" name="dateCreate">
      </div>
      <div class="form-group">
        <label for="userIDCreate">User ID Create</label>
        <input type="text" class="form-control" id="userIDCreate" [(ngModel)]="model.UserIDCreate" name="userIDCreate">
      </div>
      <div class="form-group">
        <label for="dateUpdate">Date Update</label>
        <input type="text" class="form-control" id="dateUpdate" [(ngModel)]="model.DateUpdate" name="dateUpdate">
      </div> 
      <div class="form-group">
        <label for="userIDUpdate">User ID Update</label>
        <input type="text" class="form-control" id="userIDUpdate" [(ngModel)]="model.UserIDUpdate" name="userIDUpdate">
      </div> 
      <button class="btn btn-default" type="submit" [disabled]="!bookForm.form.valid">Submit</button>    
      <button class="btn btn-default" (click)="newBook(); bookForm.reset()">Clear</button>

    </form>
    <button class="btn btn-default" (click)="back()">Back</button>
  </div>
  