.content-wrap{
    padding: 0.5rem 2.5rem 1rem 2.5rem;
}
.main-content{
    padding: .5rem 1rem;
    margin: .5rem 0 0 0;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    max-width: 100%;
    width: 100%;
}
h1{
    padding: 1rem .5rem 1rem .5rem;
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
}
.info-group{
    margin-top: 1.5rem;
}
.info-group h2 {
    margin-bottom: 15px;
    margin-top: 0;
        font-size: 18px;
    color: #333;
    padding: 0 0 22px 0;
    margin: 0;
    font-weight: 700;
}
.info-part input{
    border-color: #ff0033;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Roboto, Arial, sans-serif;
    border-color: #ccc;
    box-sizing: border-box;
    width: 100%;
}
.info-part > p > label, .info-part > span > label{
    display: block;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.checkout-head-wrap  button, .checkout-btns-wrap button {
    float: right;
    line-height: 4.4rem;
    height: 4.4rem;
    padding: 0 1.7rem;
    border: 0;
    margin: 0;
    background: #10bbd5;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: .6rem;
    box-shadow: none;
    min-width: 14rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: none;
    transition: background-color .2s;
}

.checkout-head-wrap  button:hover {
    background-color: #29d5ef;
}

.checkout-head-wrap{
    padding: .5rem 1rem;
    margin: 0.5rem 0;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 4.4rem;
}
.basket-totals-wrap .basket-checkout-btn-wrap {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.basket-totals-wrap {
    display: flex;
    padding: .5rem 1rem;
    margin: 0.5rem 0;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
}

.basket-checkout-btn-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.basket-checkout-btn-wrap .checkout-btns-wrap {
    text-align: center;
    padding: 1.5rem 1rem;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}