.nav-top{
    background: #403042 url(../../../../../../assets/nav/xmas-header.png);
    background-position-x: center;
    font-size: 1.4rem;
}
.nav-top i {
    font-size: 20px;
}

.nav-top > div{
      height: 44px;
}
.nav-top a{
    color: rgba(255,255,255,0.8);
    transition: all .3s;
    line-height: 4.4rem;
    height: 4.4rem;
    padding: 0 1.7rem;
    border: 0;
    margin: 0;
    border-right: 1px solid #4c394e;
    position: relative;
    top: -4px;
    cursor: auto;
}
.nav-top a:hover{
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.nav-top span{
    font-size: 13px;
    top: -2px;
    left: 8px;
    position: relative;
}
.nav-mid{
    background: #4c394e url(../../../../../../assets/nav/xmas-header.png);
    background-position-y: -44px;
    background-position-x: center;
}
.nav-logo{
    width: 13.5rem;
    display: block;
    height: 70px; 
}
.nav-logo > img {
     top: 50%;
      position: relative;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.search-input{
    position: relative;
}
.search-button{
    z-index: 1;
}
.search-button button{
    width: 100%;
    height: 4.4rem;
    border: 0;  
    background: #10bbd5;
    display: inline-block;
    border-radius: .6rem;
    transition: background .3s;
}

.normal-search button:hover{
    background:  #29D5EF;
}
.search-icon{
    z-index: 1;
    position: absolute;
    left: 1.4rem;
    top: 1.3rem;
    color: #999;
}
.search-icon-button button{
    line-height: 3.5rem;
    height: 3.5rem;
    width: 3.8rem;
    padding: 0 1.2rem;
    border: 0;
    margin: 0;
    min-width: 0;
    position: absolute;
    right: .5rem;
    top: 2.3rem;
    bottom: .5rem;
}

.advance-search button{
    line-height: 4.4rem;
    height: 4.4rem;
    border: 1px solid rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.7);
    transition: all .3s;
    background-color: transparent;
    border-radius: 0rem;
}
.advance-search button:hover{
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}
.advance-search {
     padding: 1em;
}
.nav-icon{
    font-size: 2.7rem;
    padding-left: 1.5rem;
}
.nav-bottom{
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    height: 40px;
    background: #fff;
}
.nav-bottom a{
    background: #fff;
    border-left: solid 1px #FFEFFB;
    text-align: center;
    position: relative;
    color: #000;
    display: block;
    line-height: 4rem;
    height: 4rem;
    border: 0;
    margin: 0;
    position: relative;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: border-color .3s;
    border-right: 1px solid #FFEFC6;
}
 .nav-bottom a:hover{
     text-decoration: none;
     border-bottom-color: #000;
 }
  .nav-bottom .nav-space{
      padding: 0.5em;
 }
 .nav-bottom div{
     padding: 0px;
 }

@media screen and (min-width: 1030px){
    .search-icon-button{
        display: none;
    }
}
@media screen and (max-width: 1030px){
    .normal-search, .search-icon{
        display: none;
    }
    .search-icon-button{
        display: block;
    }
}
@media screen and (max-width: 880px){
    .nav-top span {
        display: none;
    }
}
@media screen and (max-width: 640px){
    .nav-space, .nav-top-desktop{
        display: none;
    }
    .nav-top > div{
      text-align: center;
    }
    .search-icon-button button{
        top: 0.5rem;
    }
    .nav-logo{
        margin: 0 auto;
    }
    .nav-top-mobile{
        display: block;
    }
    .nav-top a{
        padding: 0 1.3rem;
    }
}

@media screen and (min-width: 640px){
    .nav-top-mobile{
        display: none;
    }
    .nav-top-desktop{
        display: block;
    }
    .nav-right{
        text-align: right;
    }
    .search-button > * {
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}