.book-info{
    overflow: auto;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
}
.book-content{
    height: 1240px;
    width: 100%;
}
.book-image {
    margin: .5rem;
    text-align: center;
    padding: 1rem;
}
.book-image > img {
    width: 75%;
}
.book-info-part{
    padding: 1rem;
}
.book-detail > h1{
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 0.1rem solid #f0f0f0;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
}
.book-types, .social-wrap{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    list-style-type: disc;
    
}
.book-detail > ul > li{
    display: inline-block;
    padding-right: 1rem ;
    position: relative;
}
.book-detail > ul > li:first-child{
    padding-left: 0;
}
.book-types > li{
    padding-left: 1rem ;
}
.book-types > li:after{
    position: absolute;
    right: 0;
    top: .4rem;
    bottom: .4rem;
    border-left: 0.1rem solid #333;
    content: " ";
    margin-left: 0;
}
.book-types > li:last-child:after{
    display: none;
}
.social-wrap {
    margin: 1.5rem 0;
}

.social-wrap > li {
    padding-right: 1rem ;
}
.social-wrap > li:first-child{
     line-height: 3rem; 
    font-weight: bold;
    width: auto;
    height: auto;
}
.social-wrap a{
    display: inline-block;
    height: 3.5rem;
    width: 3.7rem;
    padding: 1rem;
    border: 0;
    margin: 0;
    color: #999;
    font-size: 1rem;
    text-align: center;
    background: #f0f0f0;
    border-radius: 100%;
    transition: background .3s;
}
.social-wrap i {
    font-size: 15px;
}

.social-wrap a:hover{
    background: #d7d7d7;
    text-decoration: none;
    color: #fff;
}
.book-order-wrap{
    margin: .5rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 1rem;
    
    padding: .5rem 1rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
}
.book-price-wrap{
    border-bottom: 0.1rem solid #f0f0f0;
    padding: 1rem 0;
    color: #ff0072;
}
.book-sale-price{
    font-size: 3rem;
}
.book-list-price{
    color: #999;
    font-size: 1.4rem;
    text-decoration: line-through;
}
.book-price-save{
    display: block;
    padding-top: 0;
    color: #333;
    font-style: italic;
}
.normal-button button{
    width: 100%;
    height: 4.4rem;
    border: 0;
    background: #10bbd5;
    display: inline-block;
    border-radius: .6rem;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.normal-button button:hover{
    background: #29D5EF;
}
.button-wrap{
    /*padding-top: 1.5rem;*/
    margin-top: 1.5rem;
    text-align: center;
}
.book-info-wrapper{
    margin-top: 10px;
}
.book-info h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.8rem;
    font-weight: bold;
}
.book-detail-more > div > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.book-detail-more > div> ul > li {
    line-height: 2.8rem;
}