<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad book-content">
      <div class="ui-grid-col-12">
        <div class="book-info-wrapper">
          <div class="ui-grid-col-9 book-info">
            <div class="ui-grid-col-5 book-info-part">
              <div class="book-image">
                <img src="http://localhost:53106/content/{{book.ImageUrl}}">
              </div>
            </div>
            <div class="ui-grid-col-7 book-detail book-info-part">
              <h1>{{book.Name}}</h1>
              <ul class="book-types">
                <li *ngFor="let type of book.Types">{{type}}</li>
              </ul>
              <div class="book-author">{{book.Author}}</div>
              <ul class="social-wrap">
                <li>Share</li>
                <li>
                  <a href="">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
              <div class="book-description">
              {{book.Description}}
              </div>
            </div>
          </div>
          <div class="ui-grid-col-3 book-order">
            <div class="book-order-wrap">
              <div class="book-price-wrap">
                <span class="book-sale-price">US$19.33</span>
                <span class="book-list-price">US$21.57</span>
                <span class="book-price-save">You save US$2.24</span>
              </div>
              <div class="button-wrap">
                <div class="normal-button">
                  <button pButton type="text" label="Thêm vào giỏ hàng"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-12">
        <div class="book-info-wrapper">
          <div class="book-info book-info-part">
            <h2>Chi tiết sản phẩm</h2>
            <div class="ui-grid-col-12 book-detail-more">
              <div class="ui-grid-col-6">
                <ul>
                  <li><label>NXB: &nbsp;<span></span></label></li>
                  <li><label>Năm xuất bản: &nbsp;<span> {{book.PublishDateString}}</span></label></li>
                </ul>
              </div>
              <div class="ui-grid-col-6">
                <ul>
                  <li><label>Chưa viết: &nbsp;<span></span></label></li>
                  <li><label>Chưa viết: &nbsp;<span></span></label></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>