<div class="container">
  <h2>List of Order</h2>
  <a [routerLink]="['./new']" class="btn btn-primary">Add new Order</a>
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>OrderID</th>
        <th>UserID</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Order of this.results; let num = index">
        <td>{{num}}</td>
        <td>{{Order.OrderID}}</td>
        <td>{{Order.UserID}}</td>
        <td>{{Order.Date}}</td>
        <td>
          <button class="btn btn-primary"><i class="fa fa-1x fa-pencil-square-o" aria-hidden="true" (click)="checkOrder(Order.OrderID)"></i></button>
          <button class="btn btn-primary"><i class="fa fa-1x fa-pencil-square-o" aria-hidden="true" (click)="editOrder(Order.OrderID)"></i></button>
          <button class="btn btn-danger"><i class="fa fa-1x fa-times" aria-hidden="true" (click)="deleteOrder(Order.OrderID)"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>