<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-g">
        <div class="ui-g-2 ">
          <div class="sidebar-section">
            <div class="sidebar-content">
              <ul>
                <li><a [routerLink]="['./detail']">Chi Tiết Tài Khoản</a></li>
                <li><a>Lựa Chọn Thanh Toán</a></li>
                <li><a [routerLink]="['./history-order']">Lịch sử đơn hàng</a></li>
                <li><a [routerLink]="['./current-order']">Tình Trạng Đơn Hàng</a></li>
                <li><a>Wishlist</a></li>
              </ul>
            </div>

          </div>

           <div class="sidebar-section-newletter">
              <div class="sidebar-section-content">
                <form>
                  <div class="signup-text">
                    <img src="https://d3ogvdx946i4sr.cloudfront.net/assets/v2.3.4/img/newsletter-icon.svg" alt="Sign up" style="width: 5rem;">
                    <p>Đăng kí nhận khuyễn mãi</p>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email address" name="newsletterEmailAddress" style="width: 100%; height: 4.4rem;text-align: center;">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="width: 100%">
				            	Đăng kí
			            	</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div class="ui-g-10">
          <router-outlet></router-outlet>

        </div>

      </div>
      <div class="footer-social-wrap">
        <h4>Theo dõi</h4>
        <ul class="social-btns">
          <li><a rel="nofollow" href="http://www.facebook.com/bookdepository" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a rel="nofollow" href="http://twitter.com/bookdepository" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a rel="nofollow" href="http://pinterest.com/bookdepository/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          <li><a rel="nofollow" href="https://plus.google.com/+bookdepository/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a rel="nofollow" href="https://www.instagram.com/bookdepository" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>