<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-col-2">
        <div class="sidebar">
          <h2>Danh mục sách</h2>
          <div class="sidebar-content">
            <ul>
              <li><a>Thiếu nhi</a></li>
              <li><a>Khoa học</a></li>
              <li><a>Tin học</a></li>
              <li><a>Xã hội</a></li>
              <li><a>Tâm lý</a></li>
            </ul>
          </div>
        </div>
      <div class="ui-grid-col-10"></div>
    </div>
  </div>
</div>