<div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-5" id="">

        <h2>Sign in</h2>

        <form (ngSubmit)="login()" #bookForm="ngForm" class="ui-form">
            <div class="form-group">
                <label for="email">Email<span style="color: red"> *</span></label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="user.Email" name="email" #email="ngModel">
                <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
                    Email is required!
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password<span style="color: red"> *</span></label>
                <input type="password" class="form-control" id="password" required [(ngModel)]="user.Password" name="password" #password="ngModel">
                <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                    Password is required!
                </div>
            </div>
            <span style="color: red">{{errorMsg}}</span>

            <div align="center"><button class="btn btn-primary" type="submit">Login</button></div>
            <div><a href="" [routerLink]="['/forgotten-password']">Forgotten Password?</a></div>
        </form>
    </div>

    <div class="ui-g-5">

        <h2>Register</h2>

        <form (ngSubmit)="register()" #registerForm="ngForm" class="ui-form">
            <div class="form-group">
                <label for="emailRes">Email<span style="color: red"> *</span></label>
                <input type="email" class="form-control" id="emailRes" required [(ngModel)]="model.Email" name="emailRes" #emailRes="ngModel">
                <div class="alert alert-danger" [hidden]="emailRes.valid || emailRes.pristine">
                    Email is required!
                </div>
            </div>

            <div class="form-group">
                <label for="nameRes">Name<span style="color: red"> *</span></label>
                <input type="text" class="form-control" id="nameRes" required [(ngModel)]="model.Name" name="nameRes" #nameRes="ngModel">
                <div class="alert alert-danger" [hidden]="nameRes.valid || nameRes.pristine">
                    Name is required!
                </div>
            </div>

            <div class="form-group">
                <label for="passwordRes">Password<span style="color: red"> *</span></label>
                <input type="password" class="form-control" name="passwordRes" [(ngModel)]="model.Password" required validateEqual="confirmPassword"
                    reverse="true" #passwordRes="ngModel">
                <div class="alert alert-danger" [hidden]="passwordRes.valid || passwordRes.pristine">
                    Password is required!
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password<span style="color: red"> *</span></label>
                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.ConfirmPassword" required validateEqual="passwordRes"
                    reverse="false" #confirmPassword="ngModel">
                <div [hidden]="confirmPassword.valid || confirmPassword.pristine " class="text-danger">
                    Password mismatch!
                </div>
            </div>
            <span style="color: red">{{errorMsgRes}}</span>

            <div align="center"><button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button></div>
        </form>
    </div>

    <div class="ui-g-1"></div>
</div>
<div class="footer-social-wrap">
    <h4>Follow us</h4>
    <ul class="social-btns">
        <li><a rel="nofollow" href="http://www.facebook.com/bookdepository" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a rel="nofollow" href="http://twitter.com/bookdepository" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a rel="nofollow" href="http://pinterest.com/bookdepository/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        <li><a rel="nofollow" href="https://plus.google.com/+bookdepository/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a rel="nofollow" href="https://www.instagram.com/bookdepository" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
</div>