.ui-g-5 {
    background: #fff;
    width: 41.6667%;
    margin-top: 10px;
    padding: 50px;
   
}
@media (max-width: 667px){
    .ui-g-5 {
    max-width: 100%;
    width: 100% !important;
}
}

.btn-primary{
    float: right;
}

.footer-social-wrap{color:#999;display:block;text-align:center;padding:1.5rem;background:white; margin-top: 20px}
.footer-social-wrap a{color:#999;text-decoration:none}
.footer-social-wrap a:hover,.footer-social-wrap a:active,.footer-social-wrap a:visited{color:#999}
.footer-social-wrap h4{color:#999;text-align:center;padding:0;margin:0}
.footer-social-wrap h4 a{color:#999;text-decoration:none}
.footer-social-wrap h4 a:hover,.footer-social-wrap h4 a:active,.footer-social-wrap h4 a:visited{color:#999}
.footer-social-wrap ul{display:block;list-style:none;margin:0 auto;padding:0;text-align:center;width:100%}
.footer-social-wrap a,.footer-social-wrap a:hover{text-decoration:none}
.footer-social-wrap li{display:inline-block;margin:0;padding:1rem 1.5rem 0;font-size:1.8rem}