<div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <div class="ui-grid-row nav-top nav-top-mobile">
            <div class="ui-grid-col-12">
            <a class="ui-grid-col-2 nav-icon" (click)="goHome()"><i class="fa fa-home" aria-hidden="true"></i><span>Trang chủ</span></a>
            <a href="" class="ui-grid-col-2 nav-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Liên hệ</span></a>
            <a href="" class="ui-grid-col-2 nav-icon"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Trợ giúp</span></a>
            <a href="" class="ui-grid-col-2 nav-icon"><i class="fa fa-compass" aria-hidden="true"></i><span>Thông tin đặt hàng</span></a>
            <a href="" class="ui-grid-col-2 nav-icon"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wish lish</span></a>
            <a href="" class="ui-grid-col-2 nav-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Đăng nhập / Đăng kí</span></a>
            </div>
        </div>
        <div class="ui-grid-row nav-top nav-top-desktop">
            <div class="ui-grid-col-5">
                <a href (click)="goHome()" class="nav-icon"><i class="fa fa-home" aria-hidden="true"></i><span>Trang chủ</span></a>
                <a href="" class="nav-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Liên hệ</span></a>
                <a href="" class="nav-icon"><i class="fa fa-info-circle" aria-hidden="true"></i><span>Trợ giúp</span></a>
            </div>
            <div class="ui-grid-col-7 nav-right">
                <!--<a href="#" *ngIf="this._service.isLoggedIn()" class="nav-icon"><i aria-hidden="true"></i><span>Hello {{currentUser.Name}}</span></a>-->
                <a href="" class="nav-icon"><i class="fa fa-compass" aria-hidden="true"></i><span>Thông tin đặt hàng</span></a>
                <a href="" class="nav-icon"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Wish lish</span></a>  
                <a href="" [routerLink]="['/account']" *ngIf="this._service.isLoggedIn()"  class="nav-icon"><i aria-hidden="true"></i><span>Tài Khoản</span></a>
                <a href="" *ngIf="this._service.isLoggedIn()" (click)="this._service.logout()" class="nav-icon"><i aria-hidden="true"></i><span>Đăng Xuất</span></a>
                <a [routerLink]="['/login']" *ngIf="!this._service.isLoggedIn()"class="nav-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>Đăng nhập / Đăng kí</span></a>
            </div> 
        </div>
        <div class="ui-grid-row nav-mid">
            <div class="ui-grid-col-3 ">
                <a class="nav-logo" (click)="goHome()"><img src="../../../../../assets/nav/logo.svg" alt=""></a>
            </div>
            <div class="ui-grid-col-7 search-button">
                <div class="search-input">
                    <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <p-autoComplete [(ngModel)]="book" [suggestions]="filteredBooks" (completeMethod)="filterBooks($event)" [size]="5" [minLength]="1"
                        placeholder="Từ khóa" [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)">
                        <template let-book>
                            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5" (click)="goBook(getBookViaName(book).BookID)">
                                <img src="../../../../../assets/book/{{addZero(getBookViaName(book).BookID)}}.jpg" style="width:64px;display:inline-block;margin:5px 0 2px 5px"
                                />
                                <div style="font-size:14px;float:right;margin:10px 10px 0 0">{{getBookViaName(book).Name}}</div>
                            </div>
                        </template>
                    </p-autoComplete>
                    <div class="search-button normal-search search-icon-button">
                        <button pButton type="text" label=" " (click)="searchBookByKeyWord()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!--<button pButton label="Show" type="button" icon='fa-external-link' (click)="showDialog()"></button>-->
            <div class="ui-grid-col-2 search-button normal-search">
                <button pButton type="text" label="Tìm kiếm" (click)="searchBookByKeyWord()"></button>
            </div>
            <div class="ui-grid-col-2 search-button advance-search">
                <button pButton type="text" label="Tìm nâng cao" (click)="goBooks()"></button>
            </div>
        </div>
        <div class="ui-grid-row nav-bottom">
            <div class="ui-grid-col-5">
                <div class="ui-grid-col-3"><a href="">Bán chạy</a></div>
                <div class="ui-grid-col-3"><a href="">Nổi bật</a></div>
                <div class="ui-grid-col-3"><a href="">Giảm giá</a></div>
                <div class="ui-grid-col-3"><a href="">FAQ</a></div>
            </div>
            <!--<div class="ui-grid-col-7 nav-right">
                <div class="ui-grid-col-4">
                    USD$
                </div>
                <div class="ui-grid-col-4">
                    USD$290
                </div>
                <div class="ui-grid-col-4">
                    1 item
                </div>
            </div>-->
        </div>
    </div>

</div>