@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <title></title>
</head>
<body>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API | Demo </h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h4>Book List</h4>
            <input type="button" value="View All Books" id="btnViewAllBook" onclick="GetAllBook();"/>
            <ul id="BookList"/>
        </div>
        <div>
            <h4>Search by ID</h4>
            <input type="text" id="searchBookByID" size="5"/>
            <input type="button" value="Search" onclick="FindBookByID();"/>
            <p id="prod"/>
        </div>
        <div>
            <h4>Delete Book by ID</h4>
            <input type="text" id="delBookByID" size="5"/>
            <input type="button" value="Delete" onclick="DeleteBook();"/>
        </div>
        <div>
            <h4>Add Book </h4>
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" id="Name"/>
                    </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>
                        <input type="text" id="Author"/>
                    </td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>
                        <input type="text" id="rate"/>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <input type="text" id="Description"/>
                    </td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>
                        <input type="text" id="Quantity" />
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>
                        <input type="text" id="Price" />
                    </td>
                </tr>
                <tr>
                    <td>Image Url</td>
                    <td>
                        <input type="text" id="ImageUrl"/>
                    </td>
                </tr>
                <tr>
                    <td>Sale Off</td>
                    <td>
                        <input type="text" id="SaleOff" />
                    </td>
                </tr>
                <tr>
                    <td>Date Create</td>
                    <td>
                        <input type="text" id="DateCreate"/>
                    </td>
                </tr>
                <tr>
                    <td>User ID Create</td>
                    <td>
                        <input type="text" id="UserIDCreate"/>
                    </td>
                </tr>
                <tr>
                    <td>Date Update</td>
                    <td>
                        <input type="text" id="DateUpdate" />
                    </td>
                </tr>
                <tr>
                    <td>User ID Update</td>
                    <td>
                        <input type="text" id="UserIDUpdate" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <input type="button" value="Add" onclick="AddBook();"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
<script>
    
</script>
</body>
</html>

<script type="text/javascript">

    var hostUrl = "http://" + document.location.hostname + ":" + window.location.port;
    var apiUrl = '/api/Book';

    $(document).ready(function() {});

    function GetAllBook() {
        $.ajax({
            url: hostUrl + apiUrl,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                DisplayBookList(data);
            },
            error: function() {
                alert('Some error occured');
            }
        });
    }


    function FindBookByID() {
        var id = $('#searchBookByID').val();
        $.getJSON(apiUrl + '/' + id)
            .done(function(data) {
                DisplayBookForEdit(data);
            })
            .fail(function(jqXHR, textStatus, err) {
                $('#prod').text('Error: ' + err);
            });
    }

    function DeleteBook() {
        var id = $('#delBookByID').val();
        $.ajax({
            url: hostUrl + apiUrl + '/' + id,
            type: 'DELETE',
            dataType: 'json',
            success: function(data) {
                alert('Book deleted');
                GetAllBook();
            },
            error: function() {
                alert('Book not found');
            }
        });
    }

    function UpdateBook() {
        var book = {
            BookID: $('#searchBookByID').val(),
            Name: $('#EditName').val(),
            Author: $('#EditType').val(),
            Description: $('#EditDescription').val(),
            Price: $('#EditPrice').val()
        };

        $.ajax({
            url: hostUrl + apiUrl,
            type: 'PUT',
            data: JSON.stringify(book),
            contentType: "application/json;charset=utf-8",
            success: function(data) {
                alert('Book updated');
                $('#btnViewAllBook').click();
            },
            error: function() {
                alert('Some error occured');
            }
        });
    }

    function AddBook() {
        
        var book = {
            Name: $('#Name').val(),
            Author: $('#Author').val(),
            rate: $('#rate').val(),
            Description: $('#Description').val(),
            Quantity: $('#Quantity').val(),
            Price: $('#Price').val(),
            ImageUrl: $('#ImageUrl').val(),
            SaleOff: $('#SaleOff').val(),
            DateCreate : $('#DateCreate').val(),
            UserIDCreate: $('#UserIDCreate').val(),
            DateUpdate: $('#DateUpdate').val(),
            UserIDUpdate: $('#UserIDUpdate').val()
        };
        

        $.ajax({
            url: hostUrl + apiUrl,
            type: 'POST',
            data: JSON.stringify(book),
            contentType: "application/json;charset=utf-8",
            success: function(data) {
                alert('Book added');
                $('#btnViewAllBook').click();
            },
            error: function() {
                alert('Some error occured');
            }
        });
    }

    function DisplayBookList(books) {
        $("#BookList").empty();
        var result = "<table><th>ID</th><th>Name</th><th>Author</th><th>Rate</th><th>Description</th><th>Quantity</th><th>Price</th><th>ImageUrl</th><th>SaleOff</th><th>DateCreate</th><th>UserIDCreate</th><th>DateUpdate</th><th>UserIDUpdate</th>";
        $.each(books, function (index, book) {
            if (book.flag === true) {
                result += "<tr><td>" + book.BookID + "</td><td> " + book.Name + "</td><td>"
                  + book.Author + "</td><td>" + book.rate + "</td><td>"
                  + book.Description + "</td><td>" + book.Quantity + "</td><td>" + book.Price + "</td><td>" + book.ImageUrl + "</td><td>" + book.SaleOff
                  + "</td><td>" + book.DateCreate + "</td><td>" + book.UserIDCreate + "</td><td>" + book.DateCreate + "</td><td>" + book.UserIDUpdate + "</td></tr>";
            }
        });
        result += "</table>";
        $("#BookList").html(result);
    }
        
    


    function DisplayBookForEdit(book) {
        $("#prod").empty();
        if (book == null) {
            alert('Book Not Found');
            return;
        }

        $("#prod").empty();
        var result = "<table>" +
            "<tr><td>Name</td><td><input type='text' id='EditName' value='" + book.Name + "'</td></tr>" +
            "<tr><td>Type</td><td><input type='text' id='EditAuthor' value='" + book.Author + "'</td></tr>" +
            "<tr><td>Rate</td><td><input type='text' id='EditRate' value='" + book.rate + "'</td></tr>" +
            "<tr><td>Descripton</td><td><input type='text' id='EditDescription' value='" + book.Description + "'</td></tr>" +
            "<tr><td>Quantity</td><td><input type='text' id='EditDescription' value='" + book.Quantity + "'</td></tr>" +
            "<tr><td>Price</td><td><input type='text' id='EditPrice' value='" + book.Price + "'</td></tr>" +
            "<tr><td>Image Url</td><td><input type='text' id='EditType' value='" + book.ImageUrl + "'</td></tr>" +
            "<tr><td>Sale Off</td><td><input type='text' id='EditType' value='" + book.SaleOff + "'</td></tr>" +
            "<tr><td>Date Create</td><td><input type='text' id='EditType' value='" + book.DateCreate + "'</td></tr>" +
            "<tr><td>User ID Create</td><td><input type='text' id='EditType' value='" + book.UserIDCreate + "'</td></tr>" +
            "<tr><td>Date Update</td><td><input type='text' id='EditType' value='" + book.DateUpdate + "'</td></tr>" +
            "<tr><td>User ID Update</td><td><input type='text' id='EditType' value='" + book.UserIDUpdate + "'</td></tr>" +
            "<tr><td colspan='3'align='center'><input type='button' value='Update' onclick='UpdateProduct();' </td></tr>" +
            "</table>";
        $("#prod").html(result);
    }


</script>