<div class="content">
            <div class="container">
              <h2>Thông Tin Cá Nhân</h2>
              <form (ngSubmit)="changeDetail()" #detailForm="ngForm" class="ui-form">
                <div class="form-group">
                  <label for="name">Họ Tên<span style="color: red"> *</span></label>
                  <input type="text" class="form-control" id="name" required [(ngModel)]="model.Name" name="name" #name="ngModel">
                  <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
                    Tên: Bắt Buộc!
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Email<span style="color: red"> *</span></label>
                  <input type="email" class="form-control" id="email" required [(ngModel)]="model.Email" name="email" #email="ngModel">
                  <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
                    Email: Bắt Buộc!
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Mật Khẩu<span style="color: red"> *</span></label>
                  <input type="password" class="form-control" id="password" required [(ngModel)]="model.Password" name="password" #password="ngModel">
                  <div class="help-block">Cần thiết nếu bạn đang thay đổi các chi tiết của bạn</div>
                  <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                    Mật Khẩu: Bắt Buộc!
                  </div>
                </div>


                <div class="form-group">
                  <label for="address">Địa Chỉ<span style="color: red"> *</span></label>
                  <input type="text" class="form-control" id="address" required [(ngModel)]="model.Address" name="address" #address="ngModel">
                  <div class="alert alert-danger" [hidden]="address.valid || address.pristine">
                    Địa Chỉ: Bắt Buộc!
                  </div>
                </div>

                <div class="form-group">
                  <label for="dateOfBirth">Ngày Sinh<span style="color: red"> *</span></label>
                  <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="d[0]"  name="dateOfBirth" #dateOfBirth="ngModel">
                </div>

                <div class="form-group">
                  <label for="phone">Số Điện Thoại<span style="color: red"> *</span></label>
                  <input type="text" class="form-control" id="phone" [(ngModel)]="model.Phone" name="phone" #phone="ngModel" minlength="10"
                    maxlength="11">
                  <div class="alert alert-danger" [hidden]="phone.valid || phone.pristine">
                    Số Điện Thoại: Bắt Buộc! Từ 10 -> 11 Số
                  </div>
                </div>


                <div align="center"><button class="btn btn-primary" type="submit">Thay đổi thông tin</button></div>

              </form>
            </div>
            <hr>
            <div class="container">
              <h2>Đổi Mật Khẩu</h2>
              <form (ngSubmit)="changePassword()" #changePassForm="ngForm" class="ui-form">
                <div class="form-group">
                  <label for="currentPassword">Mật Khẩu Hiện Tại<span style="color: red"> *</span></label>
                  <input type="password" class="form-control" id="currentPassword" [(ngModel)]="changePassUser[0].currentPass" required name="currentPassword" #currentPassword="ngModel">
                  <div class="alert alert-danger" [hidden]="currentPassword.valid || currentPassword.pristine">
                    Mật Khẩu: Bắt Buộc!
                  </div>
                  <span style="color: red">{{errorMsgCurPass}}</span>
                </div>

                <div class="form-group">
                <label for="newPassword">Password<span style="color: red"> *</span></label>
                <input type="password" class="form-control" name="newPassword" [(ngModel)]="changePassUser[0].newPass" required validateEqual="confirmPassword"
                    reverse="true" #newPassword="ngModel" minlength="4" maxlength="28">
                <div class="alert alert-danger" [hidden]="newPassword.valid || newPassword.pristine">
                    Mật Khẩu: Bắt Buộc (Từ 4 đến 28 kí tự)!
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password<span style="color: red"> *</span></label>
                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="changePassUser[0]  .confirmPass" required validateEqual="newPassword"
                    reverse="false" #confirmPassword="ngModel">
                <div [hidden]="confirmPassword.valid || confirmPassword.pristine " class="text-danger">
                    Mật Khẩu Không Trùng Khớp!
                </div>
            </div>

                <div align="center"><button class="btn btn-primary" type="submit" >Đổi Mật Khẩu</button></div>

              </form>
            </div>

          </div>