.ui-g-2{
    background: #fff;
    margin-top: 1rem;
}
.sidebar{
    padding: .5rem 1rem;
    margin: .5rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    margin-left: 0; 
}

.sidebar h2 {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.8rem;
    color: #333;
}
.sidebar-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}
.sidebar-content a:hover{
   background-color: #F0F0F0;
}
.sidebar-content a{
    padding: .5rem;
    display: block;
    border-bottom: 0.1rem solid #f0f0f0;
    transition: all .2s;
    color: #333;
    text-decoration: none;
}
.content-wrap .main-content {
    width: 80%;
    float: left;
}
.content {
    padding: .5rem 1rem;
    margin: .5rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    padding: 1.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    width: 80%;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.btn-primary{
    float: left;
}
.footer-social-wrap{color:#999;display:block;text-align:center;padding:1.5rem;background:white}
.footer-social-wrap a{color:#999;text-decoration:none}
.footer-social-wrap a:hover,.footer-social-wrap a:active,.footer-social-wrap a:visited{color:#999}
.footer-social-wrap h4{color:#999;text-align:center;padding:0;margin:0}
.footer-social-wrap h4 a{color:#999;text-decoration:none}
.footer-social-wrap h4 a:hover,.footer-social-wrap h4 a:active,.footer-social-wrap h4 a:visited{color:#999}
.footer-social-wrap ul{display:block;list-style:none;margin:0 auto;padding:0;text-align:center;width:100%}
.footer-social-wrap a,.footer-social-wrap a:hover{text-decoration:none}
.footer-social-wrap li{display:inline-block;margin:0;padding:1rem 1.5rem 0;font-size:1.8rem}
