.sidebar{
    padding: .5rem 1rem;
    margin: .5rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.1);
    margin-left: 0; 
}
.sidebar h2 {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.8rem;
    color: #333;
}
.sidebar-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}
.sidebar-content a:hover{
   background-color: #F0F0F0;
}
.sidebar-content a{
        padding: .5rem;
    display: block;
    border-bottom: 0.1rem solid #f0f0f0;
    transition: all .2s;
    color: #333;
    text-decoration: none;
}
/*.sidebar-content p-rating{
    display: inline-block;
}
.search-input{
    width: 100%;
}*/