<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad book-content">
      <div class="ui-grid-col-8">
        <div class="ui-grid-col-4 book-info book-image">
            <img src="../../../../../assets/book/{{addZero(book.BookID)}}.jpg">
        </div>
        <div class="ui-grid-col-8 book-info book-detail">
        </div>
      </div>
      <div class="ui-grid-col-4 book-order">
      </div>
    </div>
  </div>
</div>