
<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable [value]="results" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)" [paginator]="true"
  rows="5" [responsive]="true" [globalFilter]="gb" [contextMenu]="cm">
  <header>CRUD for Users</header>
  <p-column field="Email" header="Email" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="Name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="Address" header="Address" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="DateOfBirth" header="DateOfBirth" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <p-column field="Phone" header="Phone" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
  <footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <p-growl [value]="msgs"></p-growl>
      <p-confirmDialog width="425"></p-confirmDialog>
      <a [routerLink]="['./new']" pButton icon="fa-plus" style="float:left" label="Add new book"></a>
      <button type="button" pButton icon="fa-edit" style="float:left" (click)="editUser(user.UserID)" label="Edit"></button>
      <button type="button" pButton icon="fa-close" style="float:left" (click)="deleteUser(user.UserID)" label="Delete"></button>
    </div>
  </footer>
</p-dataTable>
<p-contextMenu #cm [model]="items"></p-contextMenu>

