
<div class="footer-wrap">
    <footer class="footer">
        <div class="footer-left-content hide-on-mobile">
            <section class="footer-links">
                <h4>Explore</h4>
                <ul>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/35/About-us#helpContent">About us</a></li>
                    <li><a href="https://www.bookdepository.com/sitemap">Sitemap</a></li>
                    <li><a href="https://www.bookdepository.com/bookmarks">Bookmarks</a></li>
                    <li><a href="https://www.bookdepository.com/account/login/to/account">Sign in/Join</a></li>
                </ul>
            </section>
            <section class="footer-links">
                <h4>How can we help?</h4>
                <ul>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help">Help</a></li>
                    <li><a href="https://www.bookdepository.com/contactus">Contact us</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/2/When-will-my-order-arrive#helpContent">Where's my stuff?</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/3/Which-countries-do-you-deliver-to#helpContent">Where do you deliver?</a></li>
                </ul>
            </section>
            <section class="footer-links">
                <h4>Join us</h4>
                <ul>
                    <li><a href="http://affiliates.bookdepository.com/affiliates" target="_blank">Affiliates</a></li>
                    <li><a href="https://www.bookdepository.com/jobs">Jobs</a></li>
                </ul>
            </section>
            <section class="footer-links">
                <h4>Important stuff</h4>
                <ul>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/53/How-we-use-cookies#helpContent">Cookies</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/20/Our-privacy-policy#helpContent">Privacy policy</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/19/Terms-and-Conditions#helpContent">Terms &amp; Conditions</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/17/Website-security#helpContent">Secure shopping</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/11/Accessibility-guide#helpContent">Accessibility</a></li>
                </ul>
            </section>
        </div>

        <div class="footer-left-content show-only-mobile">
            <div class="footer-links">
                <ul>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/account/login/to/account">Sign in/Join</a></li>
                    <li><a href="https://www.bookdepository.com/track">Order Status</a></li>
                    <li><a href="https://www.bookdepository.com/contactus">Contact us</a></li>
                    <li><a href="https://www.bookdepository.com/help">Help</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/35/About-us#helpContent">About us</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/19/Terms-and-Conditions">Terms &amp; Conditions</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/20/Our-privacy-policy">Privacy policy</a></li>
                    <li><a rel="nofollow" href="https://www.bookdepository.com/help/topic/HelpId/53/How-we-use-cookies">Cookies</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-right-content">
            <div class="payment-methods">
                <p>We accept these payment methods</p>
                <img src="https://d3ogvdx946i4sr.cloudfront.net/assets/v2.3.4/img/payment-options.png" alt="Payment methods" class="method-img">
            </div>
            <div class="small-print">
                <i class="icon-bd"></i>
                <div id="copyright" class="text" title="BdiMetadata{webserver='tirana', requestTime='1.71 sec', userSessionCurrencyCode='USD', userSessionCountry='VN', userIp='14.175.129.253', cacheParams=BdiCacheMetadata{cacheCountry='VN', cacheCurrency='USD', controllerName='index', actionName='index', moduleName='default', serverScheme='https', cacheNamespace='homepage', cacheKey='index', generatedOn=Wed Dec 28 12:51:03 UTC 2016, cacheEnabled=true}}">
                    © 2016 The Book Depository Ltd.
                </div>
            </div>
        </div>
    </footer>
</div>