<div class="container">
  <h1>User form</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="Email">Email<span style="color: red"> (*)</span></label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="model.Email" name="email" #email="ngModel" >
      <!--<p class="alert alert-danger" *ngIf="email.errors?.email">Wrong Email</p>-->
    </div>
    <div class="form-group">
      <label for="Password">Password<span style="color: red"> (*)</span></label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="model.Password" name="password" #password="ngModel">
    </div>
    <div class="form-group">
      <label for="Name">Name<span style="color: red"> (*)</span></label>
      <input type="text" id="name" class="form-control" required [(ngModel)]="model.Name" name="name" #name="ngModel">
      <!--<p class="alert alert-danger" *ngIf="name.errors?.rangeLength">Range Lenght: 5 - 9</p>-->
    </div>
    <div class="form-group">
      <label for="address">Address<span style="color: red"> (*)</span></label>
      <input type="text" id="address" class="form-control" required [(ngModel)]="model.Address" name="address" #address="ngModel">

    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date Of Birth<span style="color: red"> (*)</span></label>
      <input type="text" id="dateOfBirth" class="form-control" required [(ngModel)]="model.DateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel">

    </div>
    <div class="form-group">
      <label for="visaCode">Visa Code</label>
      <input type="text" name="visaCode" id="visaCode" class="form-control" [(ngModel)]="model.VisaCode" name="visaCode" #visaCode="ngModel">

    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" [(ngModel)]="model.Phone" name="phone" #phone="ngModel">
      
    </div>
    <div class="form-group">
      <label for="roleID">Role ID</label>
      <input type="text" id="roleID" class="form-control" [(ngModel)]="model.RoleID" name="RoleID" #roleID="ngModel">
      <!--<p-dropdown [options]="roleIDs" [(ngModel)]="model.RoleID" [ngModelOptions]="{standalone: true}"></p-dropdown>
      <p>Selected Role: {{selectedRole||'none'}}</p>-->
    </div>
  
    <div>
      <button class="btn btn-default" type="submit" [disabled]="!heroForm.form.valid">Submit</button>
      <button class="btn btn-default" (click)="newUser(); heroForm.reset()">Clear</button>
      
    </div>
  </form>
  <button class="btn btn-default" (click)="back()">Back</button>
</div>
