  
  <div class="container">
    <h1>User form</h1>
    <form  (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" required [(ngModel)]="model.Email" name="Email" #Email="ngModel">
        <div class="alert alert-danger" [hidden]="Email.valid || Email.pristine">
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" id="Password" [(ngModel)]="model.Password" name="Password" #password="ngModel">
      </div>
      <div class="form-group">
        <label for="Name">Name</label>
        <input id="Name" class="form-control" required [(ngModel)]="model.Name" name="Name" #Name="ngModel">
      
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" class="form-control" [(ngModel)]="model.Address" name="address" #address="ngModel">
      
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input id="dateOfBirth" class="form-control" [(ngModel)]="model.DateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel">
      
      </div>
      <div class="form-group">
        <label for="visaCode">Visa Code</label>
        <input name="visaCode" id="visaCode" class="form-control" [(ngModel)]="model.VisaCode"  name="visaCode" #visaCode="ngModel">
      
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input name="phone" id="phone" class="form-control" [(ngModel)]="model.Phone"  name="phone" #phone="ngModel">
      
      </div>
      <div class="form-group">
        <label for="roleID">Role ID</label>
        <input name="roleID" id="roleID" class="form-control" [(ngModel)]="model.RoleID"  name="roleID" #roleID="ngModel">
      
      </div>
      <div class="form-group">
        <label for="flag">Flag</label>
        <input name="flag" id="flag" class="form-control" [(ngModel)]="model.Flag"  name="flag" #flag="ngModel">
      
      </div>
      <button class="btn btn-default" type="submit" [disabled]="!heroForm.form.valid" >Submit</button>
      
      <button class="btn btn-default" (click)="newUser(); heroForm.reset()">Clear</button>
    </form>
    <button class="btn btn-default" [routerLink]="['./']">Back</button>
  
  </div>

  