<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-col-2">
        <!--<div class="sidebar">
          <h2>Danh mục sách</h2>
          <div class="sidebar-content">
            <ul>
              <li><a>Thiếu nhi</a></li>
              <li><a>Khoa học</a></li>
              <li><a>Tin học</a></li>
              <li><a>Xã hội</a></li>
              <li><a>Tâm lý</a></li>
            </ul>
          </div>
        </div>-->
        <div class="sidebar">
          <h2>Tìm kiếm</h2>
          <div class="sidebar-content">
            <div class="form-group">
              <h5>Từ khóa</h5>
              <div class="search-content">
                <input class="search-input" type="text" size="30" pInputText [(ngModel)]="keyword" />
              </div>
            </div>
            <div class="form-group">
              <h5>Thể loại</h5>
              <div class="search-content">
                <p-listbox [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-listbox>
              </div>
            </div>
            <div class="form-group search-rate">
              <h5>Đánh giá {{rate}} sao</h5>
              <p-rating [(ngModel)]="rate"></p-rating>
            </div>
            <div class="form-group search-price">
              <h5>Giá tiền</h5>
              <div class="search-content">
                <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="400000" [range]="true"></p-slider>
                <!--<p>-->
                  <div class="price-range-wrapper">
                    <span class="price-range-label">Từ : </span><span class="price-range-value">{{rangeValues[0] / 1000 + ',000'}} VND </span><br>
                  </div>
                  <div class="price-range-wrapper">
                    <span class="price-range-label">Đến: </span><span class="price-range-value">{{rangeValues[1] / 1000 + ',000'}} VND</span>
                  </div>
                <!--</p>-->
              </div>
            </div>
            <div class="form-group">
              <div class="search-button normal-search">
                <button pButton type="text" label="OK" (click)="searchBooks()"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-10">
        {{(results)}}
        <p-dataGrid [value]="books" [paginator]="true" [rows]="24">
          <!--<header>
            All book
          </header>-->
          <template let-book>
            <div class="ui-g-6 ui-md-3 ui-lg-2 book-detail">
              <!--<div class="book-detail-wrap">-->
              <div class="book-image">
                <a (click)="goBook(book.BookID)">
                  <img src="../../../../../assets/book/{{addZero(book.BookID)}}.jpg">
                </a>
              </div>
              <div class="book-name">
                <h3><a (click)="goBook(book.BookID)">{{book.Name}}</a></h3>
              </div>
              <div class="book-author">
                <p><a href="">{{book.Author}}</a></p>
              </div>
              <div class="book-rate">
                <p-rating [ngModel]="book.Rate" readonly="true" stars="5" [cancel]="false"></p-rating>
              </div>
              <div class="book-price-wrap">
                <p class="book-price">
                  {{ book.CurrentPrice }}
                </p>
                <!--<span *ngIf="book.SaleOff">-->
                <p class="rrp"> &nbsp; &nbsp;<span>{{book.PublishPrice}}</span></p>
                <p class="book-price-save">&nbsp;&nbsp;Tiết kiệm {{book.SavePrice }}</p>
                <!--</span>-->
              </div>
              <div class="search-button normal-search">
                <button pButton type="text" label="Đưa vô giỏ hàng"></button>
              </div>
              <!--<hr class="ui-widget-content" style="border-top:0">-->
            </div>
            <!--</div>-->
          </template>
        </p-dataGrid>
      </div>
    </div>
  </div>
</div>