<div class="content-wrap">
  <div class="ContentSideSections Implementation ui-fluid">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-col-2">
        <!--<div class="sidebar">
          <h2>Danh mục sách</h2>
          <div class="sidebar-content">
            <ul>
              <li><a>Thiếu nhi</a></li>
              <li><a>Khoa học</a></li>
              <li><a>Tin học</a></li>
              <li><a>Xã hội</a></li>
              <li><a>Tâm lý</a></li>
            </ul>
          </div>
        </div>-->
        <div class="sidebar">
          <h2>Tìm kiếm</h2>
          <div class="sidebar-content">
            <div class="form-group">
              <h5>Từ khóa</h5>
              <div class="search-content">
                <input class="search-input" type="text" size="30" pInputText [(ngModel)]="keyworld" />
              </div>
            </div>
            <div class="form-group">
              <h5>Thể loại</h5>
              <div class="search-content">
                <p-listbox [options]="types" [(ngModel)]="selectedCities" multiple="multiple"></p-listbox>
              </div>
            </div>
            <div class="form-group search-rate">
              <h5>Đánh giá {{rate}} sao</h5>
              <p-rating [(ngModel)]="rate" [cancel]="false"></p-rating>
            </div>
            <div class="form-group search-price">
              <h5>Giá tiền</h5>
              <div class="search-content">
                <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="1000000" [range]="true"></p-slider>
                <p>
                  <span>Từ : {{rangeValues[0]}} VND </span><br>
                  <span>Đến: {{rangeValues[1]}} VND</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="search-button normal-search">
                <button pButton type="text" label="OK"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-col-10">
        {{(results)}}
        <p-dataGrid [value]="books" [paginator]="true" [rows]="20">
          <header>
            All book
          </header>
          <template let-book>
            <div class="ui-g-6 ui-md-3 ui-lg-2 book-detail">
              <!--<div class="book-detail-wrap">-->
              <div class="book-image">
                <img src="../../../../../assets/book/{{addZero(book.BookID)}}.jpg">
              </div>
              <div class="book-name">
                <h3><a href="">{{book.Name}}</a></h3>
              </div>
              <div class="book-author">
                <p><a href="">{{book.Author}}</a></p>
              </div>
              <div class="book-rate">
                <p-rating [ngModel]="book.Rate" readonly="true" stars="5" [cancel]="false"></p-rating>
              </div>
              <div class="book-price-wrap">
                <p class="book-price">
                  {{book.Price | currency:'VND'}}
                </p>
                <p class="rrp"> &nbsp; &nbsp;<span>{{book.Price | currency:'VND'}}</span></p>
                <p class="book-price-save">&nbsp;&nbsp;Tiết kiệm {{book.Price | currency:'VND'}}</p>
                <!--{{book.Price}}-->
              </div>
              <div class="search-button normal-search">
                <button pButton type="text" label="Thêm vào giỏ hàng"></button>
              </div>
              <!--<hr class="ui-widget-content" style="border-top:0">-->
              </div>
            <!--</div>-->
          </template>
        </p-dataGrid>
      </div>
    </div>
  </div>
</div>