<div class="content">
  <h2>Thiết Lập Lại Mật Khẩu</h2>

  <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" class="ui-form" *ngIf="model.IsValid && check">

    <div class="form-group">
      <label for="passwordRes">Mật Khẩu<span style="color: red"> *</span></label>
      <input type="password" class="form-control" name="passwordRes" [(ngModel)]="model.Password" required validateEqual="confirmPassword"
        reverse="true" #passwordRes="ngModel" minlength="4" maxlength="28">
      <div class="alert alert-danger" [hidden]="passwordRes.valid || passwordRes.pristine">
        Yều Cầu Mật Khẩu Từ 4 -> 28 Kí Tự
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Nhập Lại Mật Khẩu<span style="color: red"> *</span></label>
      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.ConfirmPassword" required validateEqual="passwordRes"
        reverse="false" #confirmPassword="ngModel">
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine " class="text-danger">
        Mật Khẩu Không Trùng Khớp!
      </div>
    </div>
    <span style="color: red">{{errorMsg}}</span>       

    <button type="submit" value="submit" class="btn btn-default btn-primary" [disabled]="!resetPasswordForm.valid">    
        Thiết Lập 
    </button>

  </form>

  <form *ngIf="!model.IsValid">
    <div>
      <p>Link Không Đúng Hoặc Hết Hạn. Xin Thử Lại</p>
    </div>
  </form>

  <form *ngIf="!check">
    <div>
      <p>Đổi Mật Khẩu Thành Công. <a href="http://localhost:4200/#/login">Mời Đăng Nhập Lại</a></p>
    </div>
  </form>
</div>